<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.ShiroRoleMapper" >
  <resultMap id="BaseResultMap" type="com.baizhi.cmfz.entity.ShiroRole" >
    <id column="roleid" property="roleid" jdbcType="INTEGER" />
    <result column="rolename" property="rolename" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="r1" type="com.baizhi.cmfz.entity.ShiroRoleTree">
    <result column="roleid" property="id"/>
    <result column="rolename" property="text"/>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shiro_role
    where roleid = #{roleid,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByRoleName">
    delete from shiro_role
    where rolename = #{rolename}
  </delete>

  <insert id="insert" parameterType="com.baizhi.cmfz.entity.ShiroRole" >
    insert into shiro_role (roleid, rolename)
    values (0, #{rolename,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.baizhi.cmfz.entity.ShiroRole" >
    update shiro_role
    set rolename = #{rolename,jdbcType=VARCHAR}
    where roleid = #{roleid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select roleid, rolename
    from shiro_role
    where roleid = #{roleid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="r1" >
    select roleid, rolename
    from shiro_role
  </select>
</mapper>